﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<div>
    <br />
    <br /><br /><br /><br /><br />
    <div>
        <center>
            <h2>
                <em>


                    ﻿Address: 500 Terry Francois St.<br />
                    San Francisco, CA 94158<br />
                    Email: aishsrinivas@gmail.com<br />
                    ﻿Phone Number:123432456

                </em>
            </h2>
        </center>

    </div>

</div>