﻿@{
    ViewBag.Title = " ";
}
@section featured {
    <section class="featured" style="background-color:black">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <p>
                <center><h1>Know the World</h1></center>

                <center>
                    <h2>
                        <em>
                            "We aim to deliver useful information
                            to people who want them"
                        </em>
                    </h2>
                </center>
            </p><br /><br /><br /><br />
            <table cellspacing="70">
                <tbody>
                    <tr>
                        <td class="style2">
                            <img src="https://3.bp.blogspot.com/-_ldiQXJUg7M/VyNQj_Xap9I/AAAAAAAAAZ4/iKgykWZ1GekucMwxfBQLI1PDKMS_EQb_gCKgB/s1600/macbook-606763_1920.jpg" alt="image" style="width: 454px; margin-right: 0px; margin-top: 0px; float: left; margin-left: 0px;" align="left">
                            <div style="text-align:right;">
                            </div>
                        </td>
                        <td class="style3">
                            <h1 style="color: #FFFFFF; font-style: italic; width: 333px; font-size: 45;" align="right">
                                "A good news, We suppose, is a nation talking to itself" <br>-Arthur Miller.

                            </h1>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
}

