﻿@model MvcApplication21.Models.ResetPass
@{
    ViewBag.Title = "ResetPass";
}


<asp:content id="Content2" contentplaceholderid="MainContent">

    <hgroup class="title">
        <h1>Reset Your Password</h1>
    </hgroup>

    @*<section id="loginForm">*@
        <h3>Enter the username you wish to reset.
    <br/> An email will be sent with your password.</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </li>
                </ol>
    <input type="submit" value="Reset" />

</fieldset>

        }

        @if (ViewData["msg"] != null)
        {
            @ViewData["msg"]
        }
    @*</section>*@

</asp:content>

<asp:content id="Content3" contentplaceholderid="FeaturedContent">
</asp:content>

<asp:content id="Content4" contentplaceholderid="ScriptsSection">
</asp:content>