﻿@model MvcApplication21.Business

@{
    ViewBag.Title = "Business";
}

<h2>Business</h2>

@using (Html.BeginForm("Business", "upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Business</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.file)
        </div>
        <div class="editor-field">
            <input type="file" name="file" />
            @Html.ValidationMessageFor(model => model.file)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubcategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(p => p.SubcategoryId, ViewBag.BusinessCategory as SelectList, "Select category of file", new { id = "SubcategoryId" })
            @Html.ValidationMessageFor(model => model.SubcategoryId)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
