﻿@model MvcApplication21.Models.EmployeeProfile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HirekLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>EmployeeProfile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmpId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMailId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMailId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
